Repository anhnv24810310060-source/SWARM-INTELLIGENCE-NETWORK, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-org/security-team, @your-org/rust-core, @your-org/edge-ingest, @your-org/networking

.github/CODEOWNERS:

# CODEOWNERS
# Pattern order matters; last match wins.
* @your-org/security-team
/libs/rust/core/ @your-org/rust-core
/services/sensor-gateway/ @your-org/edge-ingest
/services/swarm-gossip/ @your-org/networking

update
  .github/workflows/security-extended.yml
  Cargo.toml
  Makefile
  Nhật Kí Cập Nhật.md
  README.md
  docs/event-taxonomy.md
  docs/metrics-naming.md
  infra/dashboards/ingest_consensus_overview.json
  infra/docker-compose.dev.yml
  infra/loki-config.yml
  infra/prometheus.yml
  infra/tempo-config.yml
  libs/go/core/resilience/circuit_breaker.go
  libs/go/core/resilience/retry.go
  libs/rust/core/Cargo.toml
  libs/rust/core/src/lib.rs
  libs/rust/proto/Cargo.toml
  libs/rust/proto/build.rs
  libs/rust/proto/src/lib.rs
  libs/rust/resilience/Cargo.toml
  libs/rust/resilience/src/lib.rs
  proto/ingestion/raw_event.proto
  roadmap-12-months.md
  scripts/bootstrap-pre-commit.sh
  scripts/fix-license.sh
  services/consensus-core/Cargo.toml
  services/consensus-core/src/lib.rs
  services/consensus-core/src/main.rs
  services/consensus-core/tests/quorum_integration.rs
  services/consensus-core/tests/startup_integration.rs
  services/consensus-core/tests/state_progression.rs
  services/control-plane/go.mod
  services/control-plane/main.go
  services/node-runtime/Cargo.toml
  services/node-runtime/src/main.rs
  services/sensor-gateway/Cargo.toml
  services/sensor-gateway/src/main.rs
  services/sensor-gateway/tests/ingest_pipeline.rs
  services/swarm-gossip/Cargo.toml
Owners: @your-org/security-team, @your-org/rust-core, @your-org/edge-ingest, @your-org/networking

perf: Add E2E latency profiling & NATS connection pooling
  Nhật Kí Cập Nhật.md
  docs/performance-optimization.md
  services/sensor-gateway/Cargo.toml
  services/sensor-gateway/benches/e2e_latency.rs
  services/sensor-gateway/src/main.rs
  services/sensor-gateway/src/nats_pool.rs
Owners: @your-org/security-team, @your-org/edge-ingest

feat: Complete Phase 1 architecture enhancement by ShieldX
  Nhật Kí Cập Nhật.md
  docs/runbooks/detection-degradation.md
  infra/alert-rules-enhanced.yml
  infra/dashboards/security_overview.json
  services/evolution-core/main.py
  services/federated-orchestrator/main.py
  services/identity-ca/src/main.rs
  services/inference-gateway/src/main.rs
  services/node-runtime/src/modules/action.rs
  services/node-runtime/src/modules/brain.rs
  services/node-runtime/src/modules/communication.rs
  services/node-runtime/src/modules/mod.rs
  services/node-runtime/src/modules/sensor.rs
Owners: @your-org/security-team

feat(gossip,resilience): baseline gossip fanout+dup suppression+metrics & core resilience primitives
  Nhật Kí Cập Nhật.md
  libs/rust/core/src/lib.rs
  libs/rust/core/src/resilience.rs
  services/swarm-gossip/Cargo.toml
  services/swarm-gossip/src/main.rs
Owners: @your-org/security-team, @your-org/rust-core, @your-org/networking

feat(core+build): resilience telemetry + e2e detection smoke + perf checklist sync
  Makefile
  Nhật Kí Cập Nhật.md
  docs/performance-optimization.md
  libs/rust/core/src/lib.rs
  libs/rust/core/src/resilience_telemetry.rs
  scripts/test_e2e_detection.sh
Owners: @your-org/security-team, @your-org/rust-core

feat(obs+gossip+pki): detection metrics, bloom dup filter, pki latency histogram
  Nhật Kí Cập Nhật.md
  README.md
  libs/rust/core/src/lib.rs
  services/identity-ca/src/main.rs
  services/swarm-gossip/src/main.rs
Owners: @your-org/security-team, @your-org/rust-core, @your-org/networking

feat(core): pqc+config-signature+evolutionary+model-registry+privacy skeleton & fp ratio
  Nhật Kí Cập Nhật.md
  libs/rust/core/src/config_signature.rs
  libs/rust/core/src/crypto_pqc.rs
  libs/rust/core/src/evolutionary.rs
  libs/rust/core/src/lib.rs
  libs/rust/core/src/model_registry.rs
  libs/rust/core/src/privacy.rs
Owners: @your-org/security-team, @your-org/rust-core

update
  Nhật Kí Cập Nhật.md
  Phân Công Việc.md
Owners: @your-org/security-team

WIP: thay đổi lib.rs
  libs/rust/core/src/lib.rs
  services/coordinator/Cargo.toml
  services/coordinator/src/consensus.rs
  services/coordinator/src/federation.rs
  services/detection/Cargo.toml
  services/detection/src/main.rs
  services/detection/src/pipeline.rs
Owners: @your-org/rust-core, @your-org/security-team

feat(core): enhance observability (metrics getter, enriched status, uptime, tests)
  Nhật Kí Cập Nhật.md
  libs/rust/core/src/config_signature.rs
  libs/rust/core/src/crypto_pqc.rs
  libs/rust/core/src/evolutionary.rs
  libs/rust/core/src/lib.rs
  libs/rust/core/src/model_registry.rs
  libs/rust/core/src/privacy.rs
Owners: @your-org/security-team, @your-org/rust-core

feat(detection): initial production-ready pipeline skeleton (signature DB + anomaly + metrics)
  Cargo.toml
  services/detection-service/Cargo.toml
  services/detection-service/src/anomaly.rs
  services/detection-service/src/main.rs
  services/detection-service/src/pipeline.rs
  services/detection-service/src/signature_db.rs
Owners: @your-org/security-team

feat(core): add PBFT consensus and federated learning coordinator skeleton with metrics
  libs/rust/core/Cargo.toml
  libs/rust/core/src/consensus/mod.rs
  libs/rust/core/src/consensus/pbft.rs
  libs/rust/core/src/federated_learning/coordinator.rs
  libs/rust/core/src/federated_learning/mod.rs
  libs/rust/core/src/lib.rs
  libs/rust/core/tests/consensus_federation.rs
Owners: @your-org/rust-core

feat(detection): advanced pipeline (feature extraction, Aho-Corasick signatures, Welford+MAD anomaly, ONNX model manager)
  services/detection-service/Cargo.toml
  services/detection-service/src/anomaly.rs
  services/detection-service/src/ml.rs
  services/detection-service/src/pipeline.rs
  services/detection-service/src/signature_db.rs
Owners: @your-org/security-team

detection: YAML rules loader + per-stage latency histogram + ONNX batching + adaptive anomaly thresholds + debug endpoint
  services/detection-service/src/anomaly.rs
  services/detection-service/src/main.rs
  services/detection-service/src/ml.rs
  services/detection-service/src/pipeline.rs
  services/detection-service/src/signature_db.rs
Owners: @your-org/security-team

security: signature verification, model hash enforcement, debug endpoint auth/rate-limit, event size limit, batching safeguards
  services/detection-service/Cargo.toml
  services/detection-service/src/main.rs
  services/detection-service/src/ml.rs
  services/detection-service/src/pipeline.rs
  services/detection-service/src/signature_db.rs
Owners: @your-org/security-team

v1
  hello
Owners: @your-org/security-team
